### Idioma y localización
d-i debian-installer/language string es
d-i debian-installer/country string ES
d-i debian-installer/locale string es_ES.UTF-8

### Hostname
d-i netcfg/get_hostname string mi-maquina
d-i netcfg/get_domain string local

### Instalación de paquetes adicionales
d-i pkgsel/include string gimp